[core]
  #pager = bat --force-colorization --theme='Monokai Extended Origin' 
  pager = delta

[init]
  defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = /home/okami/Desktop/tests/sandbox/ebpf/bcc
	directory = /home/okami/Desktop/tests/sandbox/ebpf/bcc/libbpf-tools/blazesym
	directory = /home/okami/Desktop/tests/sandbox/ebpf/bcc/src/cc/libbpf
	directory = /home/okami/Desktop/tests/sandbox/ebpf/bcc/libbpf-tools/bpftool
